RFPOSE_ENV=dev
POSTGRES_USER=rfpose
POSTGRES_PASSWORD=rfpose
POSTGRES_DB=rfpose
MINIO_ROOT_USER=rfpose
MINIO_ROOT_PASSWORD=rfpose-secret
MLFLOW_TRACKING_URI=http://mlflow:5000
S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET=rfpose
NATS_URL=nats://nats:4222
HELIOS_LOGIN=login01.helios.cyfronet.pl
HELIOS_ACCOUNT=CHANGE_ME-gpu-gh200
HELIOS_PARTITION=plgrid-gpu-gh200
